{% extends 'customer/base.html' %}
{% block body%}
<style>
  table, th, td {
    border:1px solid black;
  }
  </style>
<table style="width:90% ",>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
      <th>Email</th>
    </tr>
    {% for cust in customers %}
    <tr>
      <td>{{ cust.name }}</td>
      <td>{{ cust.email }}</td>
      <td>{{ cust.phone }}</td>
      <td>
        {% comment %} <a href="{% url 'customer_detail' customer.pk %}">View</a> {% endcomment %}
        {% comment %} <a href="{% url 'customer:edit_customer' cust.pk %}">Edit</a>
        <a href="{% url 'customer:delete_customer' cust.pk %}">Delete</a> {% endcomment %}

        <a href = "{% url 'customer:edit_customer' cust.pk %}" class = "btn btn-outline-success"> Edit </a>
        <a href="{% url 'customer:delete_customer' cust.pk %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>

      </td> 
      <td><a href="{% url 'customer:send_email' cust.pk %}" class = "btn btn-outline-success">Email</a></td>
    </tr>
    {% endfor %}
  </table>
  {%endblock%}